<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cotizacion</title>
    <style>
     
        body {
            font-family: Arial, sans-serif;
        }

        header {
            text-align: center;
            background-color: #007bff;
            color: black;
            padding: 10px;
        }

        nav {
            background-color: black;
            padding: 10px;
        }
        footer{
            background-color: black;
            padding: 10px;
            color: white;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin-right: 20px;
        }

        .logo-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo-container img {
            width: 150px;
            height: auto;
        }

        .formulario {
            background-color: #f2f2f2;
            border: solid 1px black;
            padding: 20px;
            border-radius: 5px;
            width: min(500px, 90%);
            margin: 20px auto;
        }

        .input-container {
            margin-bottom: 10px;
        }

        .input-container label {
            display: block;
            margin-bottom: 5px;
        }

        .input-container input[type="number"],
        .input-container select,
        .input-container input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 3px;
            margin-bottom: 10px;
            resize: vertical;
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .res-container {
            background-color: #f2f2f2;
            border: solid 1px black;
            padding: 20px;
            border-radius: 5px;
            width: min(500px, 90%);
            margin: 20px auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo-container">
            <h1>Toyota Mazatlán</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/tabla">Tabla</a></li>
            <li><a href="/alumnos">Alumnos</a></li>
        </ul>
    </nav>
    <section>
        <form class="formulario" action="/cotizacion" method="post">
            <div class="input-container">
                <label for="numCotizacion">Número de Cotización</label>
                <input type="text" name="numCotizacion" id="numCotizacion" required />
            </div>
        <div class="input-container">
            <label for="valor">Descripcion</label>
            <input type="text"/>
        </div>
            <div class="input-container">
                <label for="valor">Valor de Automóvil</label>
                <input type="number" name="valor" id="valor" required value="<%=valor%>" required/>
            </div>
            <div class="input-container">
                <label for="pInicial">Porcentaje de Pago Inicial</label>
                <input type="number" name="pInicial" id="pInicial" required value="<%=pInicial%>" />
            </div>
            <div class="input-container">
                <label for="plazos">Plazo en Meses</label>
                <select name="plazos" id="plazos" required value="<%=plazos%>">
                    <option value="12">12 meses</option>
                    <option value="24">24 meses</option>
                    <option value="36">36 meses</option>
                    <option value="48">48 meses</option>
                    <option value="60">60 meses</option>
                </select>
            </div>
            <div class="buttons-container">
                <button type="submit">Calcular</button>
                <button><a href="/cotizacion">Limpiar</a></button>
            </div>
      </form>
      <div class="res-container">
        <h3>Resultado de la cotizacion</h3>
            <%
            if(valor){
                pInicial = valor * (pInicial / 100);
                let cuota = (valor - pInicial) / plazos;
                cuota = cuota.toFixed(2);
                %>
                <h5>Pago inicial: $<%=pInicial%> </h5>
                <h5>Total a financiar:  $<%=valor%> </h5>
                <h5>Plazos a meses: <%=plazos%> meses</h5>
                <h5>El valor de la cuota mensual es:  $<%=cuota%> </h5>
                <%
          }
        %>        
        
      </div>
    </section>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
